Package: lxpanel-reset
Version: 0.0.1
Installed-Size: 2
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: lxqt-panel
Homepage: https://ailtonbsj.github.io
Description: Reset taskbar and panel of LXQt.
 This tool reset the files of LXQt Panel.
