Package: lxreset
Version: 0.0.4
Installed-Size: 3
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: lxqt-panel | lxpanel
Conflicts: lxpanel-reset
Replaces: lxpanel-reset
Homepage: https://ailtonbsj.github.io
Description: Some tools to reset LXQt configs.
 This tool reset the files of LXQt.
